			 .cherry {color: #b92839;font-weight: bold;}
			 .maple {color: #ea941d;font-weight: bold;}
			 .lime {color: #236148;font-weight: bold;}
			 .plane {color: #1223a7;font-weight: bold;}
			 .rowan {color: #8cbc2a;font-weight: bold;}
			 .ash {color: #e7c83a;font-weight: bold;}
			 .birch {color: #6995e0;font-weight: bold;}
			 .oak {color: #5c442c;font-weight: bold;}
			 .hawthorn {color: #9b2ea5;font-weight: bold;}
			 .horse-chestnut {color: #4e6c08;font-weight: bold;}
			 .poplar {color: #4a133b;font-weight: bold;}
			 .locust {color: #6c47a4;font-weight: bold;}
			 .apple {color: #dea3b9;font-weight: bold;}
			 .other {color: #878a91;font-weight: bold;}
			 .tree-pit{color: #d90026;font-weight: bold;}